<hello name="{{ name }}"></hello>
<style>
  table,th,td
  {
    border: none ;
    border-collapse:collapse;
    padding:5px 20px;

  }
  th {
    font: strong;
  }
</style>
<div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="c in candidates"></tr>
      <td>{{ c.id }}</td>
    </tbody>
  </table>
  <h2>Add New Candidate</h2>
</div>
